<header>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        routerLinkActive="active"
        [routerLink]="['']"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLink]="['/product-manager']"
        >Product</a
      >
    </li>
  </ul>
</header>
