<button class="btn btn-success float-right" (click)="onClickCreateButton()">
  Create Product
</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products$ | async">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.category.name }}</td>
      <td>
        <button class="btn btn-link" (click)="onClickEditButton(product.id)">
          Edit
        </button>
        |
        <button class="btn btn-link" (click)="onClickDeleteButton(product.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<app-product-modal></app-product-modal>
