<div id="{{ idModal }}" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal {{ productModalTitle }}</h4>
        <button type="button" class="close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productModalForm" (ngSubmit)="onSubmit()">
          <div class="mb-3 row">
            <label for="inputId" class="col-sm-4 col-form-label">Id </label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid': id.invalid && wasSubmitted
                }"
                id="inputId"
                placeholder="Id"
                formControlName="id"
                [readonly]="isReadonlyRequired()"
              />
              <div class="invalid-feedback">
                Please choose a id!!!
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputName" class="col-sm-4 col-form-label">Name </label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid': name.invalid && wasSubmitted
                }"
                id="inputName"
                placeholder="Name"
                formControlName="name"
                [readonly]="isReadonlyRequired()"
              />
              <div class="invalid-feedback">
                Please choose a name!!!
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="selectCategory" class="col-sm-4 col-form-label"
              >Category</label
            >
            <div class="col-sm-8">
              <select
                class="form-select"
                [ngClass]="{
                  'is-invalid': categoryId.invalid && wasSubmitted
                }"
                aria-label="Default select example"
                formControlName="categoryId"
              >
                <option value="">Choose a category...</option>
                <option
                  *ngFor="let category of categories$ | async"
                  value="{{ category.id }}"
                  >{{ category.name }}</option
                >
              </select>
              <div class="invalid-feedback">
                Please choose a category!!!
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputDescription" class="col-sm-4 col-form-label"
              >Description</label
            >
            <div class="col-sm-8">
              <textarea
                type="text"
                rows="3"
                class="form-control"
                [ngClass]="{
                  'is-invalid': description.invalid && wasSubmitted
                }"
                id="inputDescription"
                placeholder="Description"
                formControlName="description"
              ></textarea>
              <div class="invalid-feedback">
                Please choose a description!!!
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-success btn-block">
                {{ productModalTitle }}
              </button>
            </div>
            <div class="col-sm-6">
              <button type="button" class="btn btn-block" (click)="hideModal()">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
