<ng-container *ngIf="isOpen$ | async">
  <div class="modal show d-block">
    <div
      aria-busy="true"
      aria-label="Loading"
      role="progressbar"
      class="container centered"
    >
      <div class="loader"></div>
    </div>
  </div>
  <div class="loading-backdrop"></div>
</ng-container>
