.loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 60%;
}

.container {
  left: 50%;
  margin: auto -50px;
  position: absolute;
  top: 50%;
}

.centered {
  position: fixed;
  /* or absolute */
  top: 45%;
  left: 50%;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
